/* must size absolute for breakpoints*/
.absolute{
    position:absolute;
    left:0px;
    top:0px;
    right:0;
    bottom:0;
    height:45.5rem;
    margin-left: auto;
    margin-right: auto;
}

.card-img{
    max-width:5rem;
}
.card-section{
    margin: auto;
}

.container-fluid-hidden{
    overflow:hidden;
    min-height: 100vh;
}


.footer{
    background-color: black;
    padding: 5rem 10rem 3.5rem 10rem;

}

.footer i {
    color:white;
}

.footer-text{
    color:white;
}

.full-height{
    min-height:100vh;
}

.half{
    width:50%;
    padding-left:5rem;
}

.header-relative {
    position:relative;
}


.icon{
    padding-bottom:1rem;
}

.icon-col{
    margin:auto;
    max-width:10rem;
}

.icon-container{
    text-align: center;
    padding-bottom:2.5rem;
    padding-right:1.25rem;
    padding-left:1.25rem;
}

.icon-section{
    max-width:1650px;
    padding:4rem 10rem 0rem 10rem;
    margin:auto;
}

.link{
    margin-right:.5rem;
}

.main-img{
    background: url(../img/main-image.jpg) no-repeat center;
    background-size: cover;
    width:100%;
    height:42rem;
}

.navbar {
    z-index: 999;
}

.right-section{
    max-width:1650px;
}

.message-block, .message-block-self{
    padding-bottom: 4rem;
}

#message-container-01{
    display: block;
}

.message-img{
    width:4rem;
}
.messages{
    padding:2rem 2rem 8rem 2rem;
}
.padding-bottom{
    padding-bottom:1rem;
}
/* must size full-container for breakpoints*/
/* 100 = 5 rem , 50 = 2.5*/
.results{
    margin-bottom:4rem;
}
.section{
    max-width:1650px;
    padding:8rem 10rem 0rem 10rem;
    margin:auto;
}

.section-bottom{
    max-width:1650px;
    padding:8rem 10rem 8rem 10rem;
    margin: auto;
}
  
.side-img{
    background: url(../img/side-img.jpg) no-repeat center;
    background-size: cover;
    width:50%;
    height:500px;
}

.slide{
    min-width: 550px;
}


.top-container{
    max-width:1650px;
    padding:3.5rem 10rem 5rem 10rem;
}

@media (max-width: 992px) {
    .absolute{
        position:static;
    }
  
    .footer{
        padding:5rem 5rem 5rem 5em;
    }
    

    .full-height{
        min-height:1vh;
    }

    .half{
        width:100%;
        padding-left:0px;
        padding-top:1.5rem;
    }

    .padding-bottom{
        padding-top:1.5rem;
    }

    .right-section{
        margin: 0px;
    }

    .section, .top-container, .icon-section{
        padding:5rem 5rem 0rem 5em;
    }
    
    .section-bottom{
        padding:5rem 5rem 5rem 5rem;
    }

    .side-img{
        width:100%
    }
    
    .sticky-top{
        position:static;
    }
}
@media (max-width: 576px) {
    #message-container-01{
        display: none;
    }

    #expand-message-01{
        cursor: pointer;
    }

    .section{
        padding:2rem 2rem 0rem 2em;
    }
    
    .section-bottom, .top-container, .footer, .icon-section{
        padding:2rem;
    }
}
}
